* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  color: white;
  background-color: #004e54;
  background-color: #f7a288;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 3rem;
}

.site-title {
  font-size: 5rem;
  margin: 15px;
}

.nav ul {
  font-size: 2rem;
  padding: 40px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  margin-left: 3rem;
}

.nav li.active {
  color: grey;
}

.nav li:hover {
  color: grey;
}

@media (max-width: 75em){
  .site-title {
    font-size: 2.5rem;
    margin: 15px;
  }
  .nav {
    color: white;
    background-color: #004e54;
    background-color: #f7a288;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
  }
  
  .nav ul {
    font-size: 1.5rem;
    padding: 00px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.25rem;
  }

  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    margin-left: 1rem;
  }
}

@media (max-width: 50em){
  .site-title {
    font-size: 2rem;
  }
  .nav ul {
    font-size: 0.75rem;
  }
}
